; Sample configuration file for scripts/grids-to-climdivs.pl for binary data input
; Works with the provided sample data file config/sample.grid
; Last updated 24 Feb 2022

[input]

; Parameters in this section include:
;   file
;   byteorder  Are the data written in "big_endian" or "little_endian" format?
;   missing    Value used as the missing data indicator in the input dataset
;   headers    Do the grids have Fortran-style headers (e.g., 4 bytes at the beginning and end of each record)? Supply "header" if yes, or "no_header" if no.
;   ngrids     How many grid records are in the dataset?
;   rgconus    Do the grids need to be regridded to match the CONUS map file? Supply "1" for yes, or "0" for no.
;   rgakhi     Do the grids need to be regridded to match the AK-HI map file? Supply "1" for yes, or "0" for no.

file=$APP_PATH/config/sample-binary.grid
byteorder=little_endian
missing=-999.
headers=no_header
ngrids=3
rgconus=1
rgakhi=0

[regrid]

; Supply the parameters in this section if [input]->regrid=1
; Parameters in this section include:
;   template   Grib2 data file with dimensions matching the binary grid

template=$APP_PATH/lib/grib2/global-6th-degree.template.grb

[output]

; Parameters in this section include:
;   rpn        Supply an expression in Reverse Polish Notation to convert the gridpoints (e.g., for a unit conversion)
;   grids         Which grids to create climdivs data for (available grids are 1 through ngrids)
;   files         Output filenames to use (date wildcards and certain variables allowed)
;   descriptions  Descriptions of data to print in the header line of the climdivs files

rpn=9:*:5:/:32:+
grids=1,2,3
files=sample.tmax.climdivs,sample.tmin.climdivs,sample.tave.climdivs
descriptions=TMAX,TMIN,TAVE

